@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
.boxOfArrows{
    display: inline-flex;
    width: 80vw;
    height: auto;
    margin: 10px;
    flex-wrap: wrap;
}
.monthTitle{
    display: inline-block;
    color: #222;
    margin: 10px;
    margin-left: 50px;
    height: 30px;
    font-family: 'Sriracha', cursive;
}
@media screen and (max-width: 600px) {
    .monthTitle{
        margin-left: 0px;
    }
  }
.arrowLeft, .arrowRight{
    display: inline-block;
    width: 60px;
    height: 40px;
    background-color: #9b1e39;
    margin: 10px;
}
.arrowLeft{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.arrowRight{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}